name: cosee_lints

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup asdf
        uses: asdf-vm/actions/setup@v4
      - name: Cache asdf
        uses: actions/cache@v5
        with:
          path: |
            ~/.asdf/installs
            ~/.asdf/plugins
            ~/.asdf/shims
          key: ${{ runner.os }}-asdf-${{ hashFiles('.tool-versions') }}
          restore-keys: ${{ runner.os }}-asdf-
      - name: Install asdf
        uses: asdf-vm/actions/install@v4
        # See https://github.com/asdf-vm/actions/issues/445
        if: steps.cache-asdf.outputs.cache-hit != 'true'
      - name: Reshim asdf
        run: asdf reshim

      - name: Cache dart dependencies
        uses: actions/cache@v5
        with:
          path: |
            .dart_tool/
            ~/.pub-cache/
          key: ${{ runner.os }}-dart-${{ hashFiles('example/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-dart-
      - name: Install Dependencies
        run: |
          dart pub get
          echo $GITHUB_PATH:$HOME/.pub-cache/bin >> $GITHUB_PATH
          dart pub global activate pana
      - name: Verify Pub Score
        run: ./tool/verify_pub_score.sh
